body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}
body canvas {
  display: block;
}
body .fakebody {
  position: absolute;
  width: 100vw;
  overflow-y: hidden;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
body .content {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: monospace;
  margin: 0;
  height: calc(100vh - 2rem);
  max-height: calc(100vh - 2rem);
  overflow: hidden;
}
body .content .content h1 {
  text-align: center;
}