:root {
  --psy__bull_blur: 200px;
}

body {
  margin: 0;
}
body .withback {
  background-image: url("./back.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
body div.psy {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
}
body div.psy .psy__bull {
  position: absolute;
  top: var(--psy__bull_blur);
  left: var(--psy__bull_blur);
  width: 0;
  height: 0;
  background-color: transparent;
  box-shadow: 0 0 var(--psy__bull_blur) var(--psy__bull_blur) rgba(255, 255, 255, 0.5);
  -webkit-animation-name: bull;
          animation-name: bull;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
body div.psy .psy__filter {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--psy__bull_blur);
  width: var(--psy__bull_blur);
  border-radius: calc(var(--psy__bull_blur) / 2);
  filter: brightness(150%);
  -webkit-animation-name: filtre;
          animation-name: filtre;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
body div.psy .psy__filter2 {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--psy__bull_blur);
  width: var(--psy__bull_blur);
  border-radius: calc(var(--psy__bull_blur) / 2);
  filter: blur(20px);
  -webkit-animation-name: filtre;
          animation-name: filtre;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
body div.psy .psy__filter3 {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--psy__bull_blur);
  width: var(--psy__bull_blur);
  border-radius: calc(var(--psy__bull_blur) / 2);
  filter: contrast(400%);
  -webkit-animation-name: filtre;
          animation-name: filtre;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
body div.psy .psy__filter4 {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--psy__bull_blur);
  width: var(--psy__bull_blur);
  border-radius: calc(var(--psy__bull_blur) / 2);
  filter: grayscale(100%);
  -webkit-animation-name: filtre;
          animation-name: filtre;
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
body div.psy .psy__filter5 {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--psy__bull_blur);
  width: var(--psy__bull_blur);
  border-radius: calc(var(--psy__bull_blur) / 2);
  filter: hue-rotate(180deg);
  -webkit-animation-name: filtre;
          animation-name: filtre;
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
body div.psy .psy__filter6 {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--psy__bull_blur);
  width: var(--psy__bull_blur);
  border-radius: calc(var(--psy__bull_blur) / 2);
  filter: drop-shadow(16px 16px 20px transparent) invert(100%);
  -webkit-animation-name: filtre;
          animation-name: filtre;
  -webkit-animation-duration: 27s;
          animation-duration: 27s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bull {
  0% {
    top: var(--psy__bull_blur);
    left: var(--psy__bull_blur);
  }
  20% {
    top: calc(100vh - var(--psy__bull_blur));
    left: calc((100vw - var(--psy__bull_blur)) / 3);
  }
  40% {
    top: var(--psy__bull_blur);
    left: calc((100vw - var(--psy__bull_blur)) / 3 * 2);
  }
  60% {
    top: calc(100vh - var(--psy__bull_blur));
    left: calc(100vw - var(--psy__bull_blur));
  }
  100% {
    top: var(--psy__bull_blur);
    left: var(--psy__bull_blur);
  }
}

@keyframes bull {
  0% {
    top: var(--psy__bull_blur);
    left: var(--psy__bull_blur);
  }
  20% {
    top: calc(100vh - var(--psy__bull_blur));
    left: calc((100vw - var(--psy__bull_blur)) / 3);
  }
  40% {
    top: var(--psy__bull_blur);
    left: calc((100vw - var(--psy__bull_blur)) / 3 * 2);
  }
  60% {
    top: calc(100vh - var(--psy__bull_blur));
    left: calc(100vw - var(--psy__bull_blur));
  }
  100% {
    top: var(--psy__bull_blur);
    left: var(--psy__bull_blur);
  }
}
@-webkit-keyframes filtre {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: calc(100vh - var(--psy__bull_blur));
    left: calc((100vw - var(--psy__bull_blur)) / 3);
  }
  40% {
    top: 0;
    left: calc((100vw - var(--psy__bull_blur)) / 3 * 2);
  }
  60% {
    top: calc(100vh - var(--psy__bull_blur));
    left: calc(100vw - var(--psy__bull_blur));
  }
  100% {
    top: 0;
    left: 0;
  }
}
@keyframes filtre {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: calc(100vh - var(--psy__bull_blur));
    left: calc((100vw - var(--psy__bull_blur)) / 3);
  }
  40% {
    top: 0;
    left: calc((100vw - var(--psy__bull_blur)) / 3 * 2);
  }
  60% {
    top: calc(100vh - var(--psy__bull_blur));
    left: calc(100vw - var(--psy__bull_blur));
  }
  100% {
    top: 0;
    left: 0;
  }
}