:root {
  --sunWidth: 15%;
  --orbitMercure: 50%;
  --sizeMercure: 6%;
  --reverseSizeMercure: calc(var(--sizeMercure) - 2 * var(--sizeMercure));
  --orbitVenus: 80%;
  --sizeVenus: 10%;
  --reverseSizeVenus: calc(var(--sizeVenus) - 2 * var(--sizeVenus));
  --solarRadiationsTime: 1s;
}

body {
  margin: 0;
  background-color: black;
  overflow: hidden;
  background-image: url(../treejs/assets/img/back1.jpg);
  background-size: cover;
}
body section {
  max-height: 100vh;
  max-width: 100vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  margin: auto;
}
body section .sun,
body section .planetmercure,
body section .planetvenus {
  background-size: cover;
}
body section .sun {
  width: var(--sunWidth);
  aspect-ratio: 1/1;
  background-color: rgb(255, 255, 255);
  background-image: url(./assets/img/sun.png);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - var(--sunWidth) / 2);
  left: calc(50% - var(--sunWidth) / 2);
  animation-name: sun;
  animation-duration: var(--solarRadiationsTime);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
body section .planetmercure,
body section .planetvenus {
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.8), inset 0 -5px 5px rgba(255, 255, 255, 0.8);
  animation-name: albedoPlanets;
  animation-duration: var(--solarRadiationsTime);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
body section .orbitmercure {
  width: var(--orbitMercure);
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px dashed rgba(255, 255, 255, 0.1);
  position: absolute;
  top: calc(50% - var(--orbitMercure) / 2);
  left: calc(50% - var(--orbitMercure) / 2);
  animation-name: mercure;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-sizing: border-box;
}
body section .orbitmercure .planetmercure {
  width: var(--sizeMercure);
  aspect-ratio: 1/1;
  background-color: rgb(116, 80, 56);
  background-image: url(./assets/img/Mercure.png);
  position: absolute;
  left: calc(50% - var(--sizeMercure) / 2);
  top: calc(var(--reverseSizeMercure) / 2);
  border-radius: 50%;
  /* box-shadow: inset 0 calc(var(--sizeMercure) / 4) calc(var(--sizeMercure) / 4) 0 black, inset 0 0rem calc(var(--sizeMercure) / 4) 0 white; */
}
body section .orbitvenus {
  width: var(--orbitVenus);
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px dashed rgba(141, 127, 0, 0.3);
  position: absolute;
  top: calc(50% - var(--orbitVenus) / 2);
  left: calc(50% - var(--orbitVenus) / 2);
  animation-name: mercure;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-sizing: border-box;
}
body section .orbitvenus .planetvenus {
  width: var(--sizeVenus);
  aspect-ratio: 1/1;
  background-color: rgb(141, 127, 0);
  background-image: url(./assets/img/Venus.png);
  position: absolute;
  left: calc(50% - var(--sizeVenus) / 2);
  top: calc(var(--reverseSizeVenus) / 2);
  border-radius: 50%;
  /* box-shadow: inset 0 calc(var(--sizeVenus) / 4) calc(var(--sizeVenus) / 4) 0 black, inset 0 0rem calc(var(--sizeVenus) / 4) 0 white; */
}

@keyframes sun {
  from {
    box-shadow: 0 0 10rem 2rem rgba(255, 220, 200, 0.1);
    filter: brightness(0.7);
  }
  to {
    box-shadow: 0 0 10rem 2rem rgb(255, 220, 200);
    filter: brightness(2);
  }
}
@keyframes mercure {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes albedoPlanets {
  0% {
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.8), inset 0 -5px 5px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.8), inset 0 -5px 5px rgb(255, 255, 255);
  }
}/*# sourceMappingURL=main.css.map */